{%extends 'base/base.html'%}
{%block title%}Infos. do Evento{%endblock%}
{%block extrahead%}
  <link rel="stylesheet" type="text/css" href="/static/votescreen/einfo.css">
{%endblock%}
{%block content%}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GDG</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="header_local" class="text-center">
  <h1>Android Meetup #11</h1>
  <button id="b_localizacao" class="btn">LOCALIZAÇÃO</button>
</div>

<div class="container">
  <h2>Descrição</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

{%endblock%}