{%extends 'base/base.html'%}
{%block title%}Infos. do Evento{%endblock%}
{%block extrahead%}
  <link rel="stylesheet" type="text/css" href="/static/votescreen/einfo.css">
{%endblock%}
{%block content%}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GDG</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="header_local" class="text-center">
  <h1>{{event.name}}</h1>
  <button id="b_localizacao" class="btn">LOCALIZAÇÃO</button>
</div>

<div class="container">
  <h2>Descrição</h2>
  <p class="lead">{{event.description|safe}}</p>
</div>

{%endblock%}