{%extends 'base/base.html'%}
{%block title%}Votação{%endblock%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/static/votescreen/votescreen.css">
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
{%endblock%}
{%block content%}

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GDG</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron">
  <div class="container">
    {%if event%}
    <div class="row">
      <div class="col-md-8">
        <h1>{{event.name}}</h1>
      </div>
      <div class="col-md-4">
        <div class="resumo_infos">
          <h3>{{event.time}}</h3>
          <h3><strong>{{event.yes_rsvp_count}}</strong> Attending</h3>
          <h3><strong>23</strong> Feedbacks</h3>
        </div>
      </div>
    </div>
    {%endif%}
  </div>
</div>

<div class="container">
  <div class="row text-center postits">
    <div class="col-md-6">
      <i class="fa fa-thumbs-down fa-3x"></i>
      {%if bad_comments%}
      {%for comment in bad_comments%}
      <div class="postit text-left">
        <h3>{{comment.titulo}}</h3>
        <p>{{comment.comentario}}</p>
      </div>
      {%endfor%}
      {%else%}
      <p>Sem comentários ruins \o</p>
      {%endif%}
    </div>
    <div class="col-md-6">
      <i class="fa fa-thumbs-up fa-3x"></i>
      {%if good_comments%}
      {%for comment in good_comments%}
      <div class="postit text-left">
        <h3>{{comment.titulo}}</h3>
        <p>{{comment.comentario}}</p>
      </div>
      {%endfor%}
      {%else%}
      <p>Sem comentários bons :'(</p>
      {%endif%}
    </div>
  </div>
</div>


{%endblock%}